Repository GhostPangPang/GhostPong, pull requests merged in 2023-07, with the labels that each got.

#574 :bug: [BugFix] Auth token error
  backend/src/auth/auth.service.ts
Labels: bug, backend

#577 🐛 [BugFix] Add socket proxy
  frontend/nginx.conf
Labels: bug

#582 💚 [Chore] Add docker compose dev file
  backend/.env.example
  backend/docker-compose.dev.yml
  backend/package.json
Labels: enhancement, backend, refactoring
