Repository GhostPangPang/GhostPong, pull requests merged in 2023-05, with the labels that each got.

#157 :hammer: [Refactor] Add userId in get-user-info API
  backend/src/friend/dto/response/friend-response.dto.ts
  backend/src/friend/friend.service.ts
  backend/src/user/user.controller.ts
  backend/src/user/user.service.ts
  types/friend/response/friend-response.interface.ts
Labels: enhancement, backend

#160 🔨 [Refactor] Remove contructors from dto
  backend/src/blocked/blocked.service.ts
  backend/src/common/dto/error-response.dto.ts
  backend/src/common/dto/success-response.dto.ts
  backend/src/friend/friend.service.ts
  backend/src/user/dto/response/user-nickname-response.dto.ts
  backend/src/user/user.service.ts
  types/common/response/error-response.interface.ts
  types/common/response/index.ts
  types/common/response/success-response.interface.ts
Labels: backend, refactoring

#162 ✨ [Feature] Add nickname to id pipe
  backend/.eslintrc.js
  backend/src/blocked/blocked.controller.ts
  backend/src/blocked/blocked.service.ts
  backend/src/common/dto/success-response.dto.ts
  backend/src/common/pipe/nickname-to-id.pipe.spec.ts
  backend/src/common/pipe/nickname-to-id.pipe.ts
  backend/src/friend/friend.controller.ts
  backend/src/friend/friend.service.ts
  backend/src/user/dto/request/user-nickname-request.dto.ts
Labels: enhancement, backend

#165 :bug: [BugFix] Fix friendship check in getMessagesList
  backend/src/message/message.controller.ts
  backend/src/message/message.service.ts
Labels: bug, backend

#158 ✨ [Feature] 42 OAuth Login with JWT Token
  backend/.env.example
  backend/package.json
  backend/src/auth/auth.controller.ts
  backend/src/auth/auth.module.ts
  backend/src/auth/auth.service.ts
  backend/src/auth/decorator/auth.decorator.ts
  backend/src/auth/dto/login-info.dto.ts
  backend/src/auth/strategy/auth.strategy.ts
  backend/src/auth/strategy/ft-oauth.strategy.ts
  backend/src/auth/strategy/passport-42.d.ts
  backend/src/auth/strategy/user.strategy.ts
  backend/src/common/constant.ts
  backend/src/common/type/jwt-payload.ts
  backend/src/config/auth/ft/configuration.module.ts
  backend/src/config/auth/ft/configuration.service.ts
  backend/src/config/auth/ft/configuration.ts
  backend/src/config/auth/jwt/configuration.module.ts
  backend/src/config/auth/jwt/configuration.service.ts
  backend/src/config/auth/jwt/configuration.ts
  backend/src/main.ts
  backend/src/user/dto/user-nickname-response.dto.ts
  backend/src/user/user.controller.ts
  backend/src/user/user.module.ts
  backend/src/user/user.service.ts
  backend/yarn.lock
Labels: enhancement, backend

#171 ✨ [Feature] Add check user id pipe
  backend/src/blocked/blocked.controller.ts
  backend/src/blocked/blocked.module.ts
  backend/src/blocked/blocked.service.ts
  backend/src/common/pipe/check-user-id.pipe.spec.ts
  backend/src/common/pipe/check-user-id.pipe.ts
  backend/src/common/pipe/nickname-to-id.pipe.spec.ts
  backend/src/common/pipe/nickname-to-id.pipe.ts
  backend/src/friend/friend.controller.ts
  backend/src/friend/friend.module.ts
  backend/src/friend/friend.service.ts
  backend/src/main.ts
  backend/src/message/message.controller.ts
  backend/src/user/user.controller.ts
  backend/src/user/user.service.ts
Labels: enhancement, backend

#159 🔨 [Refactor] Avatar style
  frontend/src/common/Avatar/Avatar.tsx
  frontend/src/common/ProgressBar/ProgressBar.tsx
Labels: frontend, refactoring

#173 ✨ [Feature] react query api
  frontend/.gitignore
  frontend/.pnp.cjs
  frontend/.yarn/cache/@tanstack-match-sorter-utils-npm-8.8.4-488b98c113-d005f50075.zip
  frontend/.yarn/cache/@tanstack-query-core-npm-4.29.1-38b960e4c7-e7a5a73e5e.zip
  frontend/.yarn/cache/@tanstack-react-query-devtools-npm-4.29.5-745a9abfac-c354a0b751.zip
  frontend/.yarn/cache/@tanstack-react-query-npm-4.29.3-ace03b857b-7d33fe001b.zip
  frontend/.yarn/cache/axios-npm-1.3.6-59e004d5b8-c90497ebf7.zip
  frontend/.yarn/cache/copy-anything-npm-3.0.3-a24d77ec4d-d456dc5ec9.zip
  frontend/.yarn/cache/follow-redirects-npm-1.15.2-1ec1dd82be-faa66059b6.zip
  frontend/.yarn/cache/hamt_plus-npm-1.0.2-67a52ee1df-af26ea32db.zip
  frontend/.yarn/cache/is-what-npm-4.1.8-57bef8cfbc-b9bec3acff.zip
  frontend/.yarn/cache/recoil-npm-0.7.7-4452f58b67-65edecbcb8.zip
  frontend/.yarn/cache/remove-accents-npm-0.4.2-7cb341092a-84a6988555.zip
  frontend/.yarn/cache/superjson-npm-1.12.3-5863896cb5-3549cc1d03.zip
  frontend/.yarn/cache/use-sync-external-store-npm-1.2.0-44f75d2564-5c639e0f8d.zip
  frontend/package.json
  frontend/public/favicon.ico
  frontend/src/App.tsx
  frontend/src/assets/svgs/bronze.svg
  frontend/src/assets/svgs/diamond.svg
  frontend/src/assets/svgs/gold.svg
  frontend/src/assets/svgs/iron.svg
  frontend/src/assets/svgs/platinum.svg
  frontend/src/assets/svgs/silver.svg
  frontend/src/common/RankProgressBar/RankProgressBar.tsx
  frontend/src/hooks/useAuth.tsx
  frontend/src/layout/Header/Header.tsx
  frontend/src/layout/MainLayout/MainLayout.tsx
  frontend/src/libs/api/client.ts
  frontend/src/libs/api/index.ts
  frontend/src/libs/index.ts
  frontend/src/main.tsx
  frontend/src/stores/userInfo/index.ts
  frontend/src/stores/userInfo/userInfoState.ts
  frontend/tsconfig.json
  frontend/vite.config.ts
  frontend/yarn.lock
Labels: enhancement, frontend

#179 🐛 [Fix] Grid component's grid-template-rows
  frontend/src/layout/Grid/Grid.tsx
Labels: bug, frontend

#172 ✨ [Feature] Add non negative int pipe
  backend/src/auth/auth.service.ts
  backend/src/blocked/blocked.controller.ts
  backend/src/common/pipe/non-negative-int.pipe.spec.ts
  backend/src/common/pipe/non-negative-int.pipe.ts
  backend/src/friend/friend.controller.ts
  backend/src/message/message.controller.ts
  backend/src/message/message.service.ts
  backend/src/user/user.controller.ts
  backend/src/user/user.service.ts
Labels: enhancement, backend

#185 🔨 [Refactor] Hotfix Globally Changes
  frontend/src/assets/styles/theme.ts
  frontend/src/common/Box/Box.tsx
  frontend/src/common/Button/Button.tsx
  frontend/src/common/RankBadge/RankBadge.stories.tsx
  frontend/src/common/RankBadge/RankBadge.tsx
  frontend/src/common/RankBadge/index.ts
  frontend/src/common/RankProgressBar/RankProgressBar.tsx
  frontend/src/layout/Content/Content.tsx
  frontend/src/layout/Grid/Grid.tsx
  frontend/src/layout/Header/Header.stories.tsx
  frontend/src/libs/utils/rank.ts
Labels: enhancement, frontend

#180 🐛 [BugFix] Set server enbaleCors
  backend/.env.example
  backend/src/config/app/configuration.module.ts
  backend/src/config/app/configuration.service.ts
  backend/src/config/app/configuration.ts
  backend/src/main.ts
Labels: bug

#184 :sparkles: [Feature] Add fixed seeding data
  backend/seeding/factory/frieindship.factory.ts
  backend/seeding/factory/message.factory.ts
  backend/seeding/seeder/message.seeder.ts
  backend/src/entity/friendship.entity.ts
  backend/src/friend/dto/response/friend-response.dto.ts
  backend/src/friend/friend.service.ts
  backend/src/message/dto/response/message-response.dto.ts
  backend/src/user/dto/response/user-history-response.dto.ts
  database/create-table.sql
  types/friend/response/friend-response.interface.ts
  types/message/response/message-response.interface.ts
  types/user/response/user-history-response.interface.ts
Labels: enhancement, backend

#147 ✨ [Feature] ProfilePage Implementation
  frontend/src/assets/styles/GlobalStyle.tsx
  frontend/src/assets/styles/theme.ts
  frontend/src/assets/svgs/achievment1.svg
  frontend/src/assets/svgs/achievment2.svg
  frontend/src/assets/svgs/tmpgold.svg
  frontend/src/layout/Header/Header.tsx
  frontend/src/libs/utils/index.ts
  frontend/src/pages/ProfilePage/AchievementBox/AchievementBox.tsx
  frontend/src/pages/ProfilePage/AchievementBox/index.ts
  frontend/src/pages/ProfilePage/HistoryBox/HistoryBox.tsx
  frontend/src/pages/ProfilePage/HistoryBox/history-mock-data.ts
  frontend/src/pages/ProfilePage/HistoryBox/index.ts
  frontend/src/pages/ProfilePage/InfoBox/InfoBox.tsx
  frontend/src/pages/ProfilePage/InfoBox/index.ts
  frontend/src/pages/ProfilePage/ProfilePage.tsx
  frontend/src/pages/ProfilePage/index.ts
  frontend/src/pages/ProfilePage/profile-mock-data.ts
Labels: enhancement, frontend

#192 ✨ [Feature] CommonButton implementation
  frontend/src/common/Button/index.ts
  frontend/src/common/CommonButton/CommonButton.stories.tsx
  frontend/src/common/CommonButton/CommonButton.tsx
  frontend/src/common/CommonButton/index.ts
  frontend/src/common/Dropbox/Dropbox.stories.tsx
  frontend/src/common/GameButton/GameButton.stories.tsx
  frontend/src/common/GameButton/GameButton.test.tsx
  frontend/src/common/GameButton/GameButton.tsx
  frontend/src/common/GameButton/index.ts
  frontend/src/pages/LobbyPage/LobbyPage.tsx
  frontend/src/pages/PrePage/PrePage.tsx
Labels: enhancement, frontend

#187 :sparkles: [Feature] Add total count to get user history API
  backend/src/user/dto/response/user-history-response.dto.ts
  backend/src/user/user.service.ts
  types/user/response/user-history-response.interface.ts
Labels: enhancement, backend

#196 ✨ [Feature] Apply Guards for user and guest
  backend/src/app.module.ts
  backend/src/auth/auth.controller.ts
  backend/src/auth/auth.module.ts
  backend/src/auth/auth.service.ts
  backend/src/auth/decorator/auth.decorator.ts
  backend/src/auth/decorator/extract-user.decorator.ts
  backend/src/auth/decorator/skip-user-guard.decorator.ts
  backend/src/auth/guard/ft.guard.ts
  backend/src/auth/guard/guest.guard.ts
  backend/src/auth/guard/user.guard.ts
  backend/src/auth/strategy/ft.strategy.ts
  backend/src/auth/strategy/guest.strategy.ts
  backend/src/blocked/blocked.controller.ts
  backend/src/common/decorator/extract-user-id.decorator.ts
  backend/src/friend/friend.controller.ts
  backend/src/main.ts
  backend/src/message/message.controller.ts
  backend/src/user/user.controller.ts
  backend/src/user/user.module.ts
  backend/src/user/user.service.ts
Labels: enhancement, backend

#193 ✨ [Feature] Modify friend API with the friend id
  backend/src/friend/dto/response/requested-friend-response.dto.ts
  backend/src/friend/friend.controller.ts
  backend/src/friend/friend.service.ts
  types/friend/response/requested-friend-response.interface.ts
Labels: enhancement, backend

#206 🔨 [Refactoring] layout style
  frontend/src/assets/styles/theme.ts
  frontend/src/layout/Content/Content.tsx
  frontend/src/layout/Grid/Grid.tsx
  frontend/src/layout/Header/Header.tsx
  frontend/src/pages/LobbyPage/LobbyPage.tsx
  frontend/src/pages/PrePage/PrePage.tsx
Labels: enhancement, frontend

#208 🔨 [Refactoring] Change common directory structure
  frontend/src/common/Button/CommonButton/CommonButton.stories.tsx
  frontend/src/common/Button/CommonButton/CommonButton.tsx
  frontend/src/common/Button/CommonButton/index.ts
  frontend/src/common/Button/GameButton/GameButton.stories.tsx
  frontend/src/common/Button/GameButton/GameButton.test.tsx
  frontend/src/common/Button/GameButton/GameButton.tsx
  frontend/src/common/Button/GameButton/index.ts
  frontend/src/common/Dropbox/Dropbox.stories.tsx
  frontend/src/common/ProgressBar/RankProgressBar/RankProgressBar.stories.tsx
  frontend/src/common/ProgressBar/RankProgressBar/RankProgressBar.tsx
  frontend/src/common/ProgressBar/RankProgressBar/index.ts
  frontend/src/layout/Header/Header.tsx
  frontend/src/pages/LobbyPage/LobbyPage.tsx
  frontend/src/pages/PrePage/PrePage.tsx
Labels: frontend, refactoring

#212 🔨 [Refactoring] Add font color and change sizes
  frontend/src/common/Button/CommonButton/CommonButton.tsx
Labels: frontend, refactoring

#214 ✨ [Feature] Message page view
  frontend/.eslintrc.json
  frontend/index.html
  frontend/src/App.tsx
  frontend/src/assets/styles/GlobalStyle.tsx
  frontend/src/assets/styles/theme.ts
  frontend/src/assets/svgs/circle-sm.svg
  frontend/src/assets/svgs/more.svg
  frontend/src/assets/svgs/send.svg
  frontend/src/common/Avatar/Avatar.tsx
  frontend/src/common/Box/Box.tsx
  frontend/src/common/Text/Text.tsx
  frontend/src/layout/Grid/Grid.tsx
  frontend/src/libs/utils/date.ts
  frontend/src/libs/utils/index.ts
  frontend/src/pages/LobbyPage/LobbyPage.tsx
  frontend/src/pages/MessagePage/Message/MessageContent.tsx
  frontend/src/pages/MessagePage/Message/MessageInput.tsx
  frontend/src/pages/MessagePage/Message/index.tsx
  frontend/src/pages/MessagePage/MessageList/index.tsx
  frontend/src/pages/MessagePage/MessagePage.tsx
  frontend/src/pages/MessagePage/index.ts
  frontend/src/stores/userInfo/userInfoState.ts
  frontend/tsconfig.json
  frontend/vite.config.ts
Labels: enhancement, frontend

#215 ✨ [Feature] InputBox implementation
  frontend/src/assets/styles/theme.ts
  frontend/src/common/InputBox/InputBox.stories.tsx
  frontend/src/common/InputBox/InputBox.tsx
  frontend/src/common/InputBox/index.ts
Labels: enhancement, frontend

#216 ✨ [Feature] Toggle implementation
  frontend/src/common/Toggle/Toggle.stories.tsx
  frontend/src/common/Toggle/Toggle.tsx
  frontend/src/common/Toggle/index.ts
Labels: enhancement, frontend

#219 :hammer: [refactor] Delete double check for exist user
  backend/src/auth/decorator/extract-user.decorator.ts
  backend/src/user/user.service.ts
Labels: backend, refactoring

#220 :bug: [BugFix] Fix pre-commit hook not running error
  backend/package.json
Labels: bug

#207 ✨ [feature] Profile page connect api
  frontend/src/App.tsx
  frontend/src/hooks/useHistroyData.tsx
  frontend/src/hooks/useProfileData.tsx
  frontend/src/libs/utils/date.ts
  frontend/src/pages/ProfilePage/HistoryBox/HistoryBox.tsx
  frontend/src/pages/ProfilePage/ProfilePage.tsx
Labels: enhancement, frontend

#224 ✨ [Feature] User status repository
  backend/src/friend/friend.service.spec.ts
  backend/src/repository/chat.repository.ts
  backend/src/repository/model/user-status.ts
  backend/src/repository/repository.interface.ts
  backend/src/repository/user-status.repository.ts
Labels: enhancement, backend

#227 ✨ [Feature] Add status to get friends
  backend/package.json
  backend/src/app.module.ts
  backend/src/friend/dto/response/friend-response.dto.ts
  backend/src/friend/friend.module.ts
  backend/src/friend/friend.service.ts
  backend/src/repository/chat.repository.ts
  backend/src/repository/repository.module.ts
  backend/src/repository/user-status.repository.ts
  backend/yarn.lock
  types/friend/response/friend-response.interface.ts
Labels: enhancement, backend

#237 ✨ [Feature] Connect event & SocketIdRepository
  backend/package.json
  backend/public/asset/index.html
  backend/src/repository/model/socket-id.ts
  backend/src/repository/repository.module.ts
  backend/src/repository/socket-id.repository.ts
  backend/src/user/user.gateway.spec.ts
  backend/src/user/user.gateway.ts
  backend/src/user/user.module.ts
  backend/yarn.lock
Labels: enhancement, backend

#236 ✨ [Feature] Message api
  frontend/src/App.tsx
  frontend/src/assets/styles/GlobalStyle.tsx
  frontend/src/assets/styles/theme.ts
  frontend/src/hooks/useAuth.tsx
  frontend/src/hooks/useFriends.tsx
  frontend/src/hooks/useIntersectObserver.tsx
  frontend/src/hooks/useMessages.tsx
  frontend/src/hooks/useResizeObserver.tsx
  frontend/src/layout/Grid/Grid.tsx
  frontend/src/layout/MainLayout/MainLayout.tsx
  frontend/src/libs/utils/date.ts
  frontend/src/pages/MessagePage/Message/Message.tsx
  frontend/src/pages/MessagePage/Message/MessageContent.tsx
  frontend/src/pages/MessagePage/Message/index.tsx
  frontend/src/pages/MessagePage/MessageList/MessageList.tsx
  frontend/src/pages/MessagePage/MessageList/MessageListItem.tsx
  frontend/src/pages/MessagePage/MessageList/index.tsx
  frontend/src/pages/MessagePage/MessagePage.tsx
  frontend/src/types/entity.ts
  types/friend/response/friend-response.interface.ts
  types/friend/response/index.ts
Labels: enhancement, frontend

#194 ✨ [Feature] Add EditProfile Page
  frontend/src/App.tsx
  frontend/src/pages/EditProfilePage/EditProfilePage.tsx
  frontend/src/pages/EditProfilePage/index.ts
Labels: enhancement, frontend

#251 🔨 [Refactor] Modify yarn scripts
  backend/package.json
  backend/yarn.lock
Labels: enhancement, backend

#252 ✨ [Feature] Websocket environment setting
  backend/.env.example
  backend/src/common/option/cors.option.ts
  backend/src/main.ts
  backend/src/user/user.gateway.ts
Labels: enhancement, backend

#249 ✨ [Feature] Add in-memory cache for 2fa
  backend/package.json
  backend/src/auth/auth.module.ts
  backend/src/auth/auth.service.ts
  backend/src/common/constant.ts
  backend/yarn.lock
Labels: enhancement, backend

#265 :bug: [BugFix] Add content type header to allow headers
  backend/src/common/option/cors.option.ts
Labels: bug, backend

#268 :hammer: [Refactor] Modify image upload file naming
  backend/src/user/interceptor/file-upload.interceptor.ts
  backend/src/user/user.controller.ts
Labels: backend, refactoring

#270 ✨ [Feature] Login api 연결
  frontend/package.json
  frontend/public/font/CookieRun.ttf
  frontend/src/App.tsx
  frontend/src/AuthHandler.tsx
  frontend/src/assets/styles/GlobalStyle.tsx
  frontend/src/assets/styles/theme.ts
  frontend/src/common/Button/CommonButton.stories.tsx
  frontend/src/common/Button/CommonButton.tsx
  frontend/src/common/Button/GameButton.stories.tsx
  frontend/src/common/Button/GameButton.test.tsx
  frontend/src/common/Button/GameButton.tsx
  frontend/src/common/Button/GameButton/index.ts
  frontend/src/common/Button/index.ts
  frontend/src/common/Ghost/Ghost.tsx
  frontend/src/common/Grid/Grid.stories.tsx
  frontend/src/common/Grid/Grid.tsx
  frontend/src/common/Grid/index.ts
  frontend/src/common/ProgressBar/RankProgressBar/RankProgressBar.tsx
  frontend/src/common/index.ts
  frontend/src/constants/index.ts
  frontend/src/constants/localStorage.ts
  frontend/src/hooks/useAuth.tsx
  frontend/src/layout/Content/Content.tsx
  frontend/src/layout/Footer/Footer.tsx
  frontend/src/layout/Header/Header.tsx
  frontend/src/libs/api/auth.ts
  frontend/src/libs/api/client.ts
  frontend/src/pages/EditProfilePage/EditProfilePage.tsx
  frontend/src/pages/ErrorFallback/ErrorFallback.tsx
  frontend/src/pages/ErrorFallback/index.ts
  frontend/src/pages/LobbyPage/LobbyPage.tsx
  frontend/src/pages/MessagePage/Message/MessageContent.tsx
  frontend/src/pages/MessagePage/MessageList/MessageList.tsx
  frontend/src/pages/MessagePage/MessageList/MessageListItem.tsx
  frontend/src/pages/MessagePage/MessagePage.tsx
  frontend/src/pages/PrePage/PrePage.tsx
  frontend/src/pages/ProfilePage/AchievementBox/AchievementBox.tsx
  frontend/src/pages/ProfilePage/HistoryBox/HistoryBox.tsx
  frontend/src/pages/ProfilePage/InfoBox/InfoBox.tsx
  frontend/src/pages/ProfilePage/ProfilePage.tsx
  frontend/src/pages/RegisterPage/RegisterPage.tsx
  frontend/src/pages/RegisterPage/index.ts
  frontend/src/stores/userInfo/userInfoState.ts
  frontend/tsconfig.json
  frontend/vite.config.ts
Labels: enhancement, frontend

#269 ✨ [Feature] socket event for message
  backend/public/asset/index.html
  backend/src/friend/friend.module.ts
  backend/src/friend/friend.service.ts
  backend/src/message/dto/socket/leave-message-room.dto.ts
  backend/src/message/dto/socket/message.dto.ts
  backend/src/message/message.gateway.spec.ts
  backend/src/message/message.gateway.ts
  backend/src/message/message.module.ts
  backend/src/user/user.module.ts
  types/message/socket/index.ts
  types/message/socket/leave-message-room.interface.ts
  types/message/socket/message.interface.ts
Labels: enhancement, backend

#266 :sparkles: [Feature] User status emit events
  backend/src/app.module.ts
  backend/src/blocked/blocked.controller.ts
  backend/src/friend/friend.service.ts
  backend/src/repository/model/user-status.ts
  backend/src/user/user.controller.ts
  backend/src/user/user.gateway.spec.ts
  backend/src/user/user.gateway.ts
  backend/src/user/user.module.ts
  backend/yarn.lock
  types/user/socket/index.ts
  types/user/socket/user-status.interface.ts
Labels: enhancement, backend

#272 ✨ [Feature] Two Factor Authentication setting
  backend/.env.example
  backend/package.json
  backend/src/auth/auth.controller.ts
  backend/src/auth/auth.module.ts
  backend/src/auth/auth.service.ts
  backend/src/auth/dto/request/two-factor-auth-request.dto.ts
  backend/src/config/auth/mailer/configuration.module.ts
  backend/src/config/auth/mailer/configuration.service.ts
  backend/src/config/auth/mailer/configuration.ts
  backend/src/user/dto/user-nickname-response.dto.ts
  backend/yarn.lock
  types/auth/request/index.ts
  types/auth/request/two-factor-auth-request.interface.ts
Labels: enhancement, backend

#277 🐛 [Bugfix] Change leave-message-room to last-message-view
  backend/public/asset/index.html
  backend/src/message/dto/socket/last-message-view.dto.ts
  backend/src/message/dto/socket/leave-message-room.dto.ts
  backend/src/message/message.gateway.ts
  types/message/socket/index.ts
  types/message/socket/last-message-view.interface.ts
Labels: bug, backend

#273 ✨ [Feature] Header api
  frontend/.pnp.cjs
  frontend/.yarn/cache/@socket.io-component-emitter-npm-3.1.0-3f778351c2-db069d9542.zip
  frontend/.yarn/cache/cliui-npm-8.0.1-3b029092cf-79648b3b00.zip
  frontend/.yarn/cache/engine.io-client-npm-6.4.0-614bfea593-f412a5d490.zip
  frontend/.yarn/cache/engine.io-parser-npm-5.0.6-6021cc2c82-e92255b546.zip
  frontend/.yarn/cache/rollup-plugin-visualizer-npm-5.9.0-9fe280ac22-362d4fac02.zip
  frontend/.yarn/cache/socket.io-client-npm-4.6.1-fbfbf6a1e5-cc6abd3f9d.zip
  frontend/.yarn/cache/socket.io-parser-npm-4.2.2-22f4e4a017-ba929645cb.zip
  frontend/.yarn/cache/source-map-npm-0.7.4-bc8d018ab6-01cc5a74b1.zip
  frontend/.yarn/cache/ws-npm-8.11.0-ab72116a01-316b33aba3.zip
  frontend/.yarn/cache/xmlhttprequest-ssl-npm-2.0.0-a9c0d5efed-1e98df67f0.zip
  frontend/.yarn/cache/yargs-npm-17.7.2-80b62638e1-73b572e863.zip
  frontend/.yarn/cache/yargs-parser-npm-21.1.1-8fdc003314-ed2d96a616.zip
  frontend/analyse.html
  frontend/package.json
  frontend/public/riv/loading.riv
  frontend/src/App.tsx
  frontend/src/assets/styles/GlobalStyle.tsx
  frontend/src/assets/styles/theme.ts
  frontend/src/common/Loading/Loading.tsx
  frontend/src/layout/Content/Content.tsx
  frontend/src/layout/FooterLayout/FooterLayout.tsx
  frontend/src/layout/FooterLayout/index.ts
  frontend/src/layout/Header/Header.test.tsx
  frontend/src/layout/Header/Header.tsx
  frontend/src/layout/MainLayout/MainLayout.tsx
  frontend/src/layout/ScrollableLayout/ScrollableLayout.tsx
  frontend/src/layout/ScrollableLayout/index.ts
  frontend/src/libs/api/auth.ts
  frontend/src/pages/MessagePage/MessagePage.tsx
  frontend/vite.config.ts
  frontend/yarn.lock
Labels: enhancement, frontend

#287 🐛 [BugFix] Add image proxy
  frontend/vite.config.ts
Labels: enhancement, frontend

#284 ✨ [Feature] Friend accept event
  backend/src/entity/user.entity.ts
  backend/src/friend/friend.gateway.spec.ts
  backend/src/friend/friend.gateway.ts
  backend/src/friend/friend.module.ts
  backend/src/friend/friend.service.ts
  backend/src/message/message.gateway.ts
  backend/src/user/dto/response/user-profile-response.dto.ts
  backend/src/user/dto/user-info.dto.ts
  backend/src/user/user.gateway.ts
  types/user/response/user-profile-response.interface.ts
  types/user/user-info.interface.ts
Labels: enhancement, backend

#279 ✨ [Feature] Two Factor Authenticaion verification API
  backend/src/auth/auth.controller.ts
  backend/src/auth/auth.module.ts
  backend/src/auth/auth.service.ts
  backend/src/auth/decorator/extract-user.decorator.ts
  backend/src/auth/dto/request/code-verification-request.dto.ts
  backend/src/auth/strategy/ft.strategy.ts
  backend/src/auth/type/login-info.ts
  backend/src/auth/type/two-factor-auth.ts
  backend/src/entity/auth.entity.ts
  types/auth/request/code-verification-request.interface.ts
  types/auth/request/index.ts
Labels: enhancement, backend

#282 ✨ [Feature] Add 2fa delete API
  backend/seeding/factory/auth.factory.ts
  backend/src/auth/auth.controller.ts
  backend/src/auth/auth.service.ts
Labels: enhancement, backend

#283 ✨ [Feature] Game list page view implement
  frontend/src/App.tsx
  frontend/src/assets/styles/GlobalStyle.tsx
  frontend/src/assets/styles/theme.ts
  frontend/src/assets/svgs/ChannelBackground1.png
  frontend/src/assets/svgs/ChannelBackground2.png
  frontend/src/assets/svgs/left.svg
  frontend/src/assets/svgs/lock.svg
  frontend/src/assets/svgs/people.svg
  frontend/src/assets/svgs/refresh.svg
  frontend/src/assets/svgs/right.svg
  frontend/src/common/Button/GameButton.tsx
  frontend/src/common/Text/Text.tsx
  frontend/src/pages/GameListPage/GameListPage.tsx
  frontend/src/pages/GameListPage/index.ts
  frontend/src/pages/GameListPage/mock-data.ts
  frontend/src/pages/RegisterPage/RegisterPage.tsx
Labels: enhancement, frontend

#291 ✨ [Feature] Get two factor authentication API
  backend/src/auth/auth.controller.ts
  backend/src/auth/auth.service.ts
  backend/src/auth/dto/response/two-factor-auth-response.dto.ts
  types/auth/response/index.ts
  types/auth/response/two-factor-auth-response.interface.ts
Labels: enhancement, backend

#292 🐛 [Fix] Avatar pointer to dropbox
  frontend/src/common/Dropbox/Dropbox.tsx
  frontend/src/pages/MessagePage/MessageList/MessageListItem.tsx
  frontend/src/pages/ProfilePage/ProfilePage.tsx
Labels: frontend, refactoring

#298 :bug: [BugFix] Change image field types
  backend/src/entity/user.entity.ts
  backend/src/user/dto/response/user-profile-response.dto.ts
  backend/src/user/dto/user-info.dto.ts
  types/user/response/user-profile-response.interface.ts
  types/user/user-info.interface.ts
Labels: bug, backend

#307 :bug: [Fix] Modify nickname response to SuccessResponseDto
  backend/src/user/dto/response/user-nickname-response.dto.ts
  backend/src/user/user.controller.ts
  backend/src/user/user.service.ts
  types/user/response/index.ts
  types/user/response/user-nickname-response.interface.ts
Labels: bug, backend

#304 :hammer: [Refactor] Add createdAt, receiverId in messageDto
  backend/src/friend/friend.gateway.ts
  backend/src/message/dto/socket/message.dto.ts
  backend/src/message/message.gateway.ts
  types/message/socket/message.interface.ts
Labels: enhancement

#308 ✨ [Feature] Two factor authentication token guard
  backend/.env.example
  backend/src/auth/auth.controller.ts
  backend/src/auth/auth.module.ts
  backend/src/auth/auth.service.ts
  backend/src/auth/guard/skip-logged-in-user.guard.ts
  backend/src/auth/guard/two-fa.guard.ts
  backend/src/auth/guard/user.guard.ts
  backend/src/common/constant.ts
  backend/src/config/auth/jwt/configuration.module.ts
  backend/src/config/auth/jwt/configuration.service.ts
  backend/src/config/auth/jwt/configuration.ts
Labels: enhancement, backend

#302 :sparkles: [Feature] x-my-id sessionStorage getter
  frontend/src/libs/api/auth.ts
  frontend/src/libs/api/client.ts
Labels: enhancement, frontend

#263 ✨ [Feature] Edit profile page api connection (avatar edit, nickname edit)
  frontend/src/common/Button/CommonButton.tsx
  frontend/src/hooks/useAuth.tsx
  frontend/src/hooks/useFileUpload.tsx
  frontend/src/hooks/usePatchNickName.tsx
  frontend/src/layout/Header/Header.tsx
  frontend/src/libs/api/client.ts
  frontend/src/pages/EditProfilePage/EditProfilePage.tsx
  frontend/src/pages/EditProfilePage/UploadFile/UploadFile.tsx
  frontend/src/pages/EditProfilePage/UploadFile/index.ts
  frontend/src/pages/MessagePage/MessageList/MessageListItem.tsx
  frontend/src/pages/ProfilePage/ProfilePage.tsx
Labels: enhancement, frontend

#310 ✨ [Feature] Modal component
  frontend/.eslintrc.json
  frontend/index.html
  frontend/src/App.tsx
  frontend/src/assets/svgs/close.svg
  frontend/src/common/Button/GameButton.tsx
  frontend/src/common/Button/IconButton.stories.tsx
  frontend/src/common/Button/IconButton.tsx
  frontend/src/common/Button/index.ts
  frontend/src/common/Modal/Modal.stories.tsx
  frontend/src/common/Modal/Modal.tsx
  frontend/src/common/Modal/ModalPortal.tsx
  frontend/src/layout/Content/Content.tsx
  frontend/src/pages/MessagePage/Message/MessageInput.tsx
Labels: enhancement, frontend

#315 ✨ [Feature] Add useInput hook
  frontend/src/hooks/useInput.tsx
Labels: enhancement, frontend

#311 ✨ [Feature] Two factor authentication on Login
  backend/src/auth/auth.controller.ts
  backend/src/auth/auth.service.ts
  backend/src/auth/guard/two-fa.guard.ts
  backend/src/common/constant.ts
Labels: enhancement, backend, refactoring

#313 ✨ [Feature] Create channel API
  backend/src/app.module.ts
  backend/src/channel/channel.controller.spec.ts
  backend/src/channel/channel.controller.ts
  backend/src/channel/channel.module.ts
  backend/src/channel/channel.service.spec.ts
  backend/src/channel/channel.service.ts
  backend/src/channel/dto/decorator/is-password-required.decorator.ts
  backend/src/channel/dto/request/create-channel-request.dto.ts
  backend/src/chat/chat.module.ts
  backend/src/common/filter/http-exception.filter.ts
  backend/src/main.ts
  backend/src/repository/channel.repository.ts
  backend/src/repository/chat.repository.ts
  backend/src/repository/model/channel.ts
  backend/src/repository/model/chat.ts
  backend/src/repository/private-channel.repository.ts
  backend/src/repository/repository.module.ts
  backend/yarn.lock
  types/channel/request/create-channel-request.interface.ts
  types/channel/request/index.ts
Labels: enhancement, backend

#321 🔨 [Refactor] Change error and http-bad-request to WsException
  backend/src/message/message.gateway.ts
Labels: enhancement, backend

#324 :hammer: [Refactor] Modify location of token from headers to auth
  backend/src/connection/connection.gateway.ts
Labels: backend, refactoring

#326 :bug: [Bugfix] Fix message gateway exception factory
  backend/src/message/message.gateway.ts
Labels: enhancement, backend

#328 :sparkles: [Feature] Get channel list api
  backend/src/app.controller.spec.ts
  backend/src/auth/auth.controller.spec.ts
  backend/src/auth/auth.service.spec.ts
  backend/src/blocked/blocked.controller.spec.ts
  backend/src/blocked/blocked.service.spec.ts
  backend/src/channel/channel.controller.spec.ts
  backend/src/channel/channel.controller.ts
  backend/src/channel/channel.service.spec.ts
  backend/src/channel/channel.service.ts
  backend/src/channel/dto/response/channels-list-response.dto.ts
  backend/src/common/pipe/check-user-id.pipe.spec.ts
  backend/src/connection/connection.gateway.spec.ts
  backend/src/friend/friend.gateway.spec.ts
  backend/src/friend/friend.service.spec.ts
  backend/src/message/message.controller.spec.ts
  backend/src/message/message.gateway.spec.ts
  backend/src/message/message.service.spec.ts
  backend/src/repository/channel.repository.ts
  backend/src/repository/model/channel.ts
  backend/src/user/user.controller.spec.ts
  backend/src/user/user.service.spec.ts
Labels: enhancement, backend

#329 ✨ [Feature] GameReadyPage
  frontend/src/App.tsx
  frontend/src/assets/svgs/crown.svg
  frontend/src/assets/svgs/sidebar.svg
  frontend/src/common/Avatar/Avatar.tsx
  frontend/src/common/Dropbox/Dropbox.tsx
  frontend/src/layout/GameLayout/GameLayout.tsx
  frontend/src/layout/GameLayout/GameSideBar.tsx
  frontend/src/layout/GameLayout/index.ts
  frontend/src/pages/GameReadyPage/Footer/Footer.tsx
  frontend/src/pages/GameReadyPage/Footer/index.ts
  frontend/src/pages/GameReadyPage/GameReadyPage.tsx
  frontend/src/pages/GameReadyPage/RoomInfo/RoomInfo.tsx
  frontend/src/pages/GameReadyPage/RoomInfo/index.ts
  frontend/src/pages/GameReadyPage/Versus/Versus.tsx
  frontend/src/pages/GameReadyPage/Versus/index.ts
  frontend/src/pages/GameReadyPage/index.ts
  frontend/src/pages/GameReadyPage/mock-data.ts
  frontend/src/pages/LobbyPage/LobbyPage.tsx
Labels: enhancement, frontend

#335 ✨ [Feature] add types channel list
  backend/src/channel/dto/response/channels-list-response.dto.ts
  types/channel/response/channels-list-response.interface.ts
  types/channel/response/index.ts
Labels: enhancement, backend

#333 ✨ [Feature] Add join channel API
  backend/src/channel/channel.controller.ts
  backend/src/channel/channel.service.spec.ts
  backend/src/channel/channel.service.ts
  backend/src/channel/dto/decorator/is-password-required.decorator.ts
  backend/src/channel/dto/request/join-channel-request.dto.ts
  backend/src/channel/type/channel-mode.type.ts
  backend/src/common/constant.ts
  backend/src/common/pipe/check-channel-id.pipe.ts
  types/channel/request/index.ts
  types/channel/request/join-channel-request.interface.ts
Labels: enhancement, backend

#342 🔨 [Refactor] Refactoring types for client
  backend/src/user/dto/response/user-profile-response.dto.ts
  backend/src/user/dto/user-info.dto.ts
  backend/src/user/user.controller.ts
  backend/src/user/user.service.ts
  types/auth/index.ts
  types/auth/request/index.ts
  types/auth/response/index.ts
  types/blocked/index.ts
  types/blocked/response/index.ts
  types/channel/index.ts
  types/channel/request/index.ts
  types/channel/response/channels-list-response.interface.ts
  types/channel/response/index.ts
  types/common/index.ts
  types/common/response/index.ts
  types/friend/index.ts
  types/friend/response/friend-response.interface.ts
  types/friend/response/index.ts
  types/index.ts
  types/message/index.ts
  types/message/response/index.ts
  types/message/socket/index.ts
  types/user/index.ts
  types/user/request/index.ts
  types/user/response/index.ts
  types/user/response/user-profile-response.interface.ts
  types/user/socket/index.ts
  types/user/socket/user-status.interface.ts
  types/user/user-info.interface.ts
Labels: refactoring

#341 :sparkles: [Feature] Join private channel
  backend/src/channel/channel.controller.ts
  backend/src/channel/channel.service.spec.ts
  backend/src/channel/channel.service.ts
  backend/src/common/pipe/check-channel-id.pipe.ts
  backend/src/common/pipe/id-to-channel.pipe.ts
  backend/src/connection/connection.gateway.spec.ts
  backend/src/connection/connection.gateway.ts
  backend/src/repository/channel.repository.ts
  backend/src/repository/invisible-channel.repository.ts
  backend/src/repository/invitation.repository.ts
  backend/src/repository/model/channel.ts
  backend/src/repository/model/invitation.ts
  backend/src/repository/private-channel.repository.ts
  backend/src/repository/repository.module.ts
  backend/src/repository/visible-channel.repository.ts
Labels: enhancement, backend

#345 ✨ [Feature] message socket
  frontend/.eslintrc.json
  frontend/.gitignore
  frontend/.pnp.cjs
  frontend/.yarn/cache/nanoid-npm-4.0.2-ae010cad86-747c399cea.zip
  frontend/analyse.html
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/SocketHandler.tsx
  frontend/src/assets/styles/GlobalStyle.tsx
  frontend/src/assets/styles/theme.ts
  frontend/src/common/Button/CommonButton.tsx
  frontend/src/common/Dropbox/Dropbox.tsx
  frontend/src/common/Grid/Grid.tsx
  frontend/src/common/Input/GameInput.stories.tsx
  frontend/src/common/Input/GameInput.tsx
  frontend/src/common/Input/index.ts
  frontend/src/common/InputBox/InputBox.tsx
  frontend/src/common/Modal/Modal.tsx
  frontend/src/common/Modal/index.ts
  frontend/src/common/index.ts
  frontend/src/constants/event.ts
  frontend/src/constants/index.ts
  frontend/src/hooks/index.ts
  frontend/src/hooks/useAuth.tsx
  frontend/src/hooks/useBlocked.tsx
  frontend/src/hooks/useFriend.tsx
  frontend/src/hooks/useFriends.tsx
  frontend/src/hooks/useInput.tsx
  frontend/src/hooks/useMessages.tsx
  frontend/src/hooks/useNewMessages.tsx
  frontend/src/hooks/useUserInfo.tsx
  frontend/src/libs/api/client.ts
  frontend/src/libs/api/index.ts
  frontend/src/libs/api/socket.ts
  frontend/src/main.tsx
  frontend/src/pages/MessagePage/BlockModal/BlockModal.tsx
  frontend/src/pages/MessagePage/BlockModal/index.ts
  frontend/src/pages/MessagePage/FriendsModal/FriendsModal.tsx
  frontend/src/pages/MessagePage/FriendsModal/index.ts
  frontend/src/pages/MessagePage/Message/Message.tsx
  frontend/src/pages/MessagePage/Message/MessageContent.tsx
  frontend/src/pages/MessagePage/Message/MessageInput.tsx
  frontend/src/pages/MessagePage/MessageList/MessageList.tsx
  frontend/src/pages/MessagePage/MessageList/MessageListItem.tsx
  frontend/src/pages/MessagePage/MessagePage.tsx
  frontend/src/pages/RegisterPage/RegisterPage.tsx
  frontend/src/stores/index.ts
  frontend/src/stores/messageState.ts
  frontend/src/stores/socketState.ts
  frontend/src/stores/userInfo/index.ts
  frontend/src/stores/userInfo/userInfoState.ts
  frontend/src/stores/userInfoState.ts
  frontend/src/types/entity.ts
  frontend/src/types/style.ts
  frontend/yarn.lock
Labels: enhancement, frontend

#350 :sparkles: [Feature] Add game repository
  backend/src/repository/game.repository.ts
  backend/src/repository/model/game.ts
Labels: enhancement, backend

#334 ✨ [Feature] Feature socket-event for chatting
  backend/public/asset/index.html
  backend/src/channel/channel.gateway.ts
  backend/src/channel/channel.module.ts
  backend/src/channel/dto/socket/chat.dto.ts
  backend/src/common/constant.ts
  backend/src/common/util.ts
  backend/src/message/message.gateway.ts
  types/channel/socket/chat.interface.ts
  types/channel/socket/index.ts
Labels: enhancement, backend

#354 :sparkles: [Feature] Add channel memeber info response dto
  backend/src/channel/dto/response/channel-member-info-response.dto.ts
  types/channel/response/channel-member-info-response.interface.ts
  types/channel/response/index.ts
Labels: enhancement, frontend, backend

#353 ✨ [Feature] Add game types and game engine utils
  backend/.eslintrc.js
  backend/src/common/constant.ts
  backend/src/repository/game.repository.ts
  backend/src/repository/model/game.ts
  backend/tsconfig.json
  game/game.ts
  game/index.ts
  game/utils.ts
Labels: enhancement, frontend, backend

#343 ✨ [Feature] Connect GameListPage API
  backend/src/channel/channel.controller.ts
  frontend/src/App.tsx
  frontend/src/assets/styles/theme.ts
  frontend/src/hooks/useChannel.tsx
  frontend/src/hooks/useFileUpload.tsx
  frontend/src/hooks/useInput.tsx
  frontend/src/hooks/usePatchNickName.tsx
  frontend/src/libs/api/client.ts
  frontend/src/libs/utils/validate.tsx
  frontend/src/pages/EditProfilePage/EditProfilePage.tsx
  frontend/src/pages/GameListPage/GameContent/GameContent.tsx
  frontend/src/pages/GameListPage/GameContent/index.ts
  frontend/src/pages/GameListPage/GameHeader/GameCreateModal/GameCreateModal.tsx
  frontend/src/pages/GameListPage/GameHeader/GameCreateModal/GameDropdown.tsx
  frontend/src/pages/GameListPage/GameHeader/GameCreateModal/index.ts
  frontend/src/pages/GameListPage/GameHeader/GameHeader.tsx
  frontend/src/pages/GameListPage/GameHeader/index.ts
  frontend/src/pages/GameListPage/GameListPage.tsx
Labels: enhancement, frontend

#355 :bug: [Fix] Modify typo of channel memeber info response dto
  backend/src/channel/dto/response/channel-member-info-response.dto.ts
  types/channel/response/channel-member-info-response.interface.ts
Labels: bug, refactoring

#349 ✨ [Feature] Join channel events
  backend/src/auth/type/login-info.ts
  backend/src/channel/channel.controller.ts
  backend/src/channel/channel.gateway.ts
  backend/src/channel/channel.service.spec.ts
  backend/src/channel/channel.service.ts
  backend/src/channel/dto/request/join-channel-request.dto.ts
  backend/src/channel/dto/response/channel-member-info-response.dto.ts
  backend/src/repository/model/channel.ts
  types/channel/index.ts
  types/channel/response/channel-member-info-response.interface.ts
  types/channel/socket/index.ts
  types/channel/socket/member-info.interface.ts
Labels: enhancement, backend

#357 :sparkles: [Feature] Game create API
  backend/.eslintrc.js
  backend/package.json
  backend/src/app.module.ts
  backend/src/channel/channel.service.ts
  backend/src/connection/connection.gateway.ts
  backend/src/game/dto/request/create-game-request.dto.ts
  backend/src/game/game.controller.ts
  backend/src/game/game.gateway.ts
  backend/src/game/game.module.ts
  backend/src/game/game.service.spec.ts
  backend/src/game/game.service.ts
  backend/src/repository/game.repository.ts
  backend/src/repository/repository.module.ts
  game/game-data.ts
  game/index.ts
  game/utils.ts
  types/game/index.ts
  types/game/request/create-game-request.interface.ts
  types/game/request/index.ts
  types/index.ts
Labels: enhancement, backend

#356 ✨ [Feature] Get channel info API
  backend/src/channel/channel.controller.ts
  backend/src/channel/channel.service.spec.ts
  backend/src/channel/channel.service.ts
Labels: enhancement, backend

#363 🐛 [Fix] Modify get channel info response dto
  backend/src/channel/channel.controller.ts
  backend/src/channel/channel.service.ts
  backend/src/channel/dto/response/channel-member-info-response.dto.ts
  backend/src/channel/dto/response/full-channel-info-response.dto.ts
  types/channel/response/full-channel-info-response.interface.ts
  types/channel/response/index.ts
Labels: enhancement, frontend, backend

#373 :bug: [Fix] Add channel name to channel info dto
  backend/src/channel/channel.service.spec.ts
  backend/src/channel/channel.service.ts
  backend/src/channel/dto/response/full-channel-info-response.dto.ts
  types/channel/response/full-channel-info-response.interface.ts
Labels: enhancement, frontend, backend

#371 ✨ [Feature] Add invite channel
  backend/src/channel/channel.controller.ts
  backend/src/channel/channel.gateway.ts
  backend/src/channel/channel.module.ts
  backend/src/channel/channel.service.spec.ts
  backend/src/channel/channel.service.ts
Labels: enhancement, backend

#372 ✨ [Feature] Game server side engine and events
  backend/src/channel/dto/socket/chat.dto.ts
  backend/src/entity/game-history.entity.ts
  backend/src/game/dto/game-start.dto.ts
  backend/src/game/dto/move-bar.dto.ts
  backend/src/game/dto/request/create-game-request.dto.ts
  backend/src/game/game-engine.service.ts
  backend/src/game/game.controller.ts
  backend/src/game/game.gateway.ts
  backend/src/game/game.module.ts
  backend/src/game/game.service.spec.ts
  backend/src/game/game.service.ts
  backend/src/message/dto/socket/last-message-view.dto.ts
  backend/src/message/dto/socket/message.dto.ts
  backend/src/repository/game.repository.ts
  backend/src/repository/model/game.ts
  backend/src/user/user.service.ts
  game/utils.ts
  types/game/bar-moved.interface.ts
  types/game/game-end.interface.ts
  types/game/game-start.interface.ts
  types/game/index.ts
  types/game/move-bar.interface.ts
  types/game/request/create-game-request.interface.ts
  types/game/request/index.ts
Labels: enhancement, backend

#375 ✨ [Feature] Manage room by friendship
  backend/src/blocked/blocked.module.ts
  backend/src/blocked/blocked.service.ts
  backend/src/friend/friend.gateway.ts
  backend/src/friend/friend.module.ts
  backend/src/friend/friend.service.ts
Labels: enhancement, backend

#385 :bug: [BugFix] Fix left player collision add padding
  game/utils.ts
Labels: bug, backend

#386 :bug: [BugFix] Fix adding bar width
  game/utils.ts
Labels: bug, backend

#380 ✨ [Feature] Get channel info api connect
  frontend/src/App.tsx
  frontend/src/common/Badge/Badge.tsx
  frontend/src/hooks/useChannel.tsx
  frontend/src/pages/ErrorFallback/ErrorFallback.tsx
  frontend/src/pages/GameReadyPage/ChatBox/ChatBox.tsx
  frontend/src/pages/GameReadyPage/ChatBox/ChatInput.tsx
  frontend/src/pages/GameReadyPage/ChatBox/Chatcontent.tsx
  frontend/src/pages/GameReadyPage/ChatBox/index.ts
  frontend/src/pages/GameReadyPage/Footer/Footer.tsx
  frontend/src/pages/GameReadyPage/Footer/index.ts
  frontend/src/pages/GameReadyPage/GameReadyPage.tsx
  frontend/src/pages/GameReadyPage/ObserverBox/ObserverBox.tsx
  frontend/src/pages/GameReadyPage/ObserverBox/index.ts
  frontend/src/pages/GameReadyPage/Versus/Versus.tsx
  frontend/src/pages/GameReadyPage/index.ts
  frontend/src/stores/channelState.ts
  frontend/src/stores/index.ts
  frontend/src/stores/socketState.ts
Labels: enhancement, frontend

#391 ✨ [Feature] game view
  frontend/.eslintrc.json
  frontend/src/App.tsx
  frontend/src/assets/styles/theme.ts
  frontend/src/constants/event.ts
  frontend/src/hooks/index.ts
  frontend/src/hooks/useCanvas.tsx
  frontend/src/hooks/useChannel.tsx
  frontend/src/libs/utils/canvas.ts
  frontend/src/pages/GamePage/GamePage.tsx
  frontend/src/pages/GamePage/PingPongGame.ts
  frontend/src/pages/GamePage/index.ts
  frontend/src/pages/GamePage/usePingPongGame.tsx
  frontend/src/pages/GameReadyPage/GameReadyPage.tsx
  frontend/src/pages/GameReadyPage/Versus/Versus.tsx
  frontend/src/pages/MessagePage/MessageList/MessageList.tsx
  frontend/src/pages/MessagePage/MessagePage.tsx
  frontend/src/stores/gameState.ts
  frontend/tsconfig.json
  frontend/vite.config.ts
  game/game-data.ts
  types/game/game-end.interface.ts
Labels: enhancement, frontend

#392 🐛 [BugFix] Fix message sort error
  frontend/src/hooks/useNewMessages.tsx
  frontend/src/pages/MessagePage/Message/Message.tsx
  frontend/src/pages/MessagePage/Message/MessageContent.tsx
  frontend/src/pages/MessagePage/MessageList/MessageListItem.tsx
  frontend/src/stores/messageState.ts
Labels: bug, frontend

#393 ✨ [Feature] Participate as player
  backend/src/channel/channel.controller.ts
  backend/src/channel/channel.gateway.ts
  backend/src/channel/channel.service.spec.ts
  backend/src/channel/channel.service.ts
Labels: enhancement, backend

#396 ✨ [Feature] Socket Join / Leave Channel
  frontend/src/SocketHandler.tsx
  frontend/src/assets/svgs/lock.svg
  frontend/src/assets/svgs/out.svg
  frontend/src/constants/event.ts
  frontend/src/hooks/channel/index.ts
  frontend/src/hooks/channel/useLeaveChannel.tsx
  frontend/src/pages/GameReadyPage/GameReadyPage.tsx
  frontend/src/pages/GameReadyPage/RoomInfo/RoomInfo.tsx
Labels: enhancement, frontend

#413 🐛 [BugFix] Fix Nan %
  frontend/src/pages/ProfilePage/ProfilePage.tsx
Labels: bug, frontend

#410 ✨ [Feature] Modify game start event data type
  backend/src/game/dto/player-ready.ts
  backend/src/game/game.controller.ts
  backend/src/game/game.gateway.ts
  backend/src/game/game.service.ts
  types/game/game-end.interface.ts
  types/game/game-start.interface.ts
  types/game/index.ts
  types/game/player-ready.interface.ts
Labels: enhancement, backend

#407 ✨ [Feature] channel ready page chat socket connect
  frontend/src/SocketHandler.tsx
  frontend/src/hooks/channel/useChannel.tsx
  frontend/src/hooks/channel/useChat.tsx
  frontend/src/pages/GameReadyPage/ChatBox/ChatBox.tsx
  frontend/src/pages/GameReadyPage/ChatBox/ChatInput.tsx
  frontend/src/pages/GameReadyPage/ChatBox/Chatcontent.tsx
  frontend/src/pages/GameReadyPage/GameReadyPage.tsx
  frontend/src/pages/GameReadyPage/ObserverBox/ObserverBox.tsx
  frontend/src/pages/LobbyPage/LobbyPage.tsx
  frontend/src/stores/channelState.ts
Labels: enhancement, frontend

#406 ✨ [Feature] Become owner
  backend/src/channel/channel.controller.ts
  backend/src/channel/channel.service.spec.ts
  backend/src/channel/channel.service.ts
Labels: enhancement, backend

#419 :hammer: [Refactor] Move leave channel function to connection gateway
  backend/src/channel/channel.gateway.ts
  backend/src/channel/channel.module.ts
  backend/src/connection/connection.gateway.ts
Labels: bug, backend, refactoring

#401 ✨ [Feature] Encrypt channel password
  backend/package.json
  backend/src/channel/channel.controller.ts
  backend/src/channel/channel.gateway.ts
  backend/src/channel/channel.service.spec.ts
  backend/src/channel/channel.service.ts
  backend/src/channel/dto/request/create-channel-request.dto.ts
  backend/src/channel/dto/request/join-channel-request.dto.ts
  backend/src/common/pipe/id-to-channel.pipe.ts
  backend/src/common/pipe/nickname-to-id.pipe.spec.ts
  backend/src/common/pipe/non-negative-int.pipe.spec.ts
  backend/src/connection/connection.gateway.spec.ts
  backend/src/connection/connection.gateway.ts
  backend/src/friend/friend.gateway.ts
  backend/src/friend/friend.service.ts
  backend/src/game/game-engine.service.ts
  backend/src/game/game.controller.ts
  backend/src/game/game.gateway.ts
  backend/src/game/game.service.spec.ts
  backend/src/game/game.service.ts
  backend/src/message/message.gateway.ts
  backend/src/repository/index.ts
  backend/src/repository/model/index.ts
  backend/yarn.lock
Labels: enhancement, backend

#425 ✨ [Feature] Channel be admin connect
  frontend/src/SocketHandler.tsx
  frontend/src/hooks/channel/useChannel.tsx
  frontend/src/hooks/channel/useChat.tsx
  frontend/src/libs/utils/itemgenerator.tsx
  frontend/src/pages/GameReadyPage/GameReadyPage.tsx
  frontend/src/pages/GameReadyPage/ObserverBox/ObserverBox.tsx
  frontend/src/pages/GameReadyPage/Versus/Versus.tsx
Labels: enhancement, frontend

#398 ✨ [Feature] Feature channel-operation http request API
  backend/src/channel/channel.controller.ts
  backend/src/channel/channel.gateway.ts
  backend/src/channel/channel.service.spec.ts
  backend/src/channel/channel.service.ts
  backend/src/connection/connection.gateway.ts
  backend/src/game/game.service.spec.ts
  backend/src/message/message.gateway.ts
  backend/src/repository/model/channel.ts
Labels: enhancement, backend

#426 🔨 [Refactor] Change chat dto and seperate event
  backend/src/channel/channel.gateway.ts
  backend/src/channel/dto/socket/chat.dto.ts
  backend/src/channel/dto/socket/send-chat.dto.ts
  types/channel/socket/chat.interface.ts
  types/channel/socket/index.ts
  types/channel/socket/new-chat.interface.ts
  types/channel/socket/send-chat.interface.ts
Labels: enhancement, backend

#430 ✨ [Feature] Update channel information
  backend/src/channel/channel.controller.ts
  backend/src/channel/channel.service.spec.ts
  backend/src/channel/channel.service.ts
  backend/src/channel/dto/request/update-channel-request.dto.ts
  backend/src/connection/connection.gateway.ts
  backend/src/game/game.service.ts
  types/channel/request/index.ts
  types/channel/request/update-channel-request.interface.ts
  types/channel/socket/index.ts
  types/channel/socket/updated-mode.interface.ts
Labels: enhancement, backend

#438 :hammer: [Refactor] Refactor api endpoint
  frontend/src/SocketHandler.tsx
  frontend/src/hooks/channel/useChat.tsx
  frontend/src/libs/api/socket.ts
  frontend/src/stores/channelState.ts
  frontend/vite.config.ts
Labels: frontend, refactoring

#439 🐛 [Hotfix] Fix login error
  backend/src/auth/guard/ft.guard.ts
  backend/src/auth/guard/user.guard.ts
  backend/src/auth/strategy/ft.strategy.ts
  backend/src/user/user.service.ts
Labels: bug, backend, refactoring

#446 ✨ [Feature] Channel be owner connect
  frontend/src/SocketHandler.tsx
  frontend/src/hooks/channel/useChannel.tsx
  frontend/src/libs/utils/itemgenerator.tsx
  frontend/src/pages/GameReadyPage/GameReadyPage.tsx
  frontend/src/pages/GameReadyPage/Versus/Versus.tsx
  frontend/src/stores/channelState.ts
Labels: enhancement, frontend

#451 ✨[Feature] Channel kick ban connect
  frontend/src/SocketHandler.tsx
  frontend/src/constants/event.ts
  frontend/src/hooks/channel/useChannel.tsx
  frontend/src/libs/utils/itemgenerator.tsx
Labels: enhancement, frontend

#440 :sparkles: [Feature] Add game mode
  backend/src/game/dto/request/create-game-request.dto.ts
  backend/src/game/game.controller.ts
  backend/src/game/game.service.ts
  backend/src/repository/model/game.ts
  game/game-data.ts
  game/utils.ts
  types/game/index.ts
  types/game/request/create-game-request.interface.ts
  types/game/request/index.ts
  types/game/socket/bar-moved.interface.ts
  types/game/socket/game-end.interface.ts
  types/game/socket/game-start.interface.ts
  types/game/socket/index.ts
  types/game/socket/move-bar.interface.ts
  types/game/socket/player-ready.interface.ts
Labels: enhancement, backend

#463 :bug: [BugFix] game error
  frontend/src/App.tsx
  frontend/src/SocketHandler.tsx
  frontend/src/assets/sounds/end.mp3
  frontend/src/assets/sounds/hit.mp3
  frontend/src/assets/sounds/wall.mp3
  frontend/src/assets/styles/theme.ts
  frontend/src/common/Avatar/Avatar.tsx
  frontend/src/common/Modal/Modal.tsx
  frontend/src/common/Modal/WideModal.tsx
  frontend/src/common/Modal/index.ts
  frontend/src/common/Text/Text.tsx
  frontend/src/constants/event.ts
  frontend/src/hooks/channel/useChannel.tsx
  frontend/src/hooks/game/index.ts
  frontend/src/hooks/game/useGameMutation.tsx
  frontend/src/hooks/game/useGameStart.tsx
  frontend/src/hooks/index.ts
  frontend/src/hooks/message/useMessages.tsx
  frontend/src/hooks/useCanvas.tsx
  frontend/src/hooks/useSound.tsx
  frontend/src/libs/utils/canvas.ts
  frontend/src/pages/GamePage/GamePage.tsx
  frontend/src/pages/GamePage/GameResultModal/GameResultModal.tsx
  frontend/src/pages/GamePage/GameResultModal/index.ts
  frontend/src/pages/GamePage/PingPongGame.ts
  frontend/src/pages/GamePage/usePingPongGame.tsx
  frontend/src/pages/GameReadyPage/GameReadyPage.tsx
  frontend/src/stores/gameState.ts
  frontend/src/types/entity.ts
  frontend/src/types/style.ts
Labels: bug, frontend

#444 :sparkles: [Feature] Random game matching
  backend/src/connection/connection.gateway.ts
  backend/src/game/game.controller.ts
  backend/src/game/game.gateway.ts
  backend/src/game/game.service.ts
  backend/src/repository/game-queue.ts
  backend/src/repository/repository.module.ts
Labels: enhancement, backend

#466 :hammer: [Refactor] Add mode to FullChannelInfoResponse
  backend/src/channel/channel.controller.ts
  backend/src/channel/channel.service.spec.ts
  backend/src/channel/channel.service.ts
  backend/src/channel/dto/response/full-channel-info-response.dto.ts
  types/channel/response/full-channel-info-response.interface.ts
Labels: frontend, backend, refactoring

#462 ✨ [Feature] Achievement about friend
  backend/src/achievement/achievement.module.ts
  backend/src/achievement/achievement.service.ts
  backend/src/app.module.ts
  backend/src/friend/friend.module.ts
  backend/src/friend/friend.service.ts
Labels: enhancement, backend

#467 ✨ [Feature] Common Component select component
  frontend/src/common/Dropdown/Dropdown.stories.tsx
  frontend/src/common/Dropdown/Dropdown.tsx
  frontend/src/common/Dropdown/index.ts
  frontend/src/pages/GameListPage/GameHeader/GameCreateModal/GameCreateModal.tsx
  frontend/src/pages/GameListPage/GameHeader/GameCreateModal/GameDropdown.tsx
Labels: enhancement, frontend

#418 ✨ [Feature] Game socket
  frontend/src/hooks/game/useGameMutation.tsx
  frontend/src/hooks/game/useGameStart.tsx
  frontend/src/pages/GamePage/GamePage.tsx
  frontend/src/pages/GamePage/usePingPongGame.tsx
  frontend/src/pages/GameReadyPage/GameReadyPage.tsx
  frontend/src/stores/gameState.ts
Labels: enhancement, frontend

#453 ✨ [Feature] Channel mute connect
  frontend/src/SocketHandler.tsx
  frontend/src/hooks/channel/useChannel.tsx
  frontend/src/hooks/channel/useChat.tsx
  frontend/src/libs/api/socket.ts
  frontend/src/libs/utils/itemgenerator.tsx
  frontend/src/pages/GameReadyPage/GameReadyPage.tsx
  frontend/src/pages/GameReadyPage/RoomInfo/RoomInfo.tsx
Labels: enhancement, frontend

#455 ✨ [Feature] Change channel api connect
  frontend/src/SocketHandler.tsx
  frontend/src/assets/svgs/black_lock.svg
  frontend/src/assets/svgs/setting.svg
  frontend/src/constants/event.ts
  frontend/src/hooks/channel/useChannel.tsx
  frontend/src/pages/GameListPage/GameContent/GameContent.tsx
  frontend/src/pages/GameReadyPage/RoomInfo/RoomInfo.tsx
  frontend/src/pages/GameReadyPage/SettingModal/SettingDropdown.tsx
  frontend/src/pages/GameReadyPage/SettingModal/SettingModal.tsx
  frontend/src/pages/GameReadyPage/SettingModal/index.ts
  frontend/src/pages/GameReadyPage/Versus/Versus.tsx
  frontend/src/stores/channelState.ts
  types/channel/socket/updated-mode.interface.ts
Labels: enhancement, frontend

#458 🐛 [BugFix] Profile Page userId Fix
  frontend/src/hooks/user/useProfileData.tsx
  frontend/src/pages/ProfilePage/ProfilePage.tsx
Labels: bug, frontend

#459 🐛 [BugFix] 2Fa Email not showing all
  frontend/src/pages/EditProfilePage/EditProfilePage.tsx
Labels: bug, frontend

#470 ✨ [Feature] game mode
  frontend/src/App.tsx
  frontend/src/pages/GamePage/GamePage.tsx
  frontend/src/pages/GamePage/GameResultModal/GameResultModal.tsx
  frontend/src/pages/GamePage/usePingPongGame.tsx
  frontend/src/pages/GameReadyPage/GameReadyPage.tsx
Labels: enhancement, frontend

#473 ✨ [Feature] Channel info update dto
  frontend/src/common/Dropdown/Dropdown.tsx
  frontend/src/hooks/channel/useChannel.tsx
  frontend/src/pages/GameReadyPage/RoomInfo/RoomInfo.tsx
  frontend/src/pages/GameReadyPage/SettingModal/SettingModal.tsx
Labels: enhancement, frontend

#477 🔨 [Refactor] Back button available
  frontend/src/hooks/channel/useChannel.tsx
  frontend/src/pages/GameReadyPage/GameReadyPage.tsx
Labels: bug, enhancement, frontend

#474 🔨 [Refactor] Send token in response body
  backend/src/auth/auth.module.ts
  backend/src/auth/guard/guest.guard.ts
  backend/src/auth/strategy/guest.strategy.ts
  backend/src/user/user.controller.ts
  backend/src/user/user.module.ts
Labels: bug, backend, refactoring

#479 :bug: [BugFix] Fix update isInGame state
  backend/src/game/game-engine.service.ts
Labels: bug, backend

#472 ✨ [Feature] random game
  backend/src/game/game.service.ts
  frontend/src/App.tsx
  frontend/src/hooks/game/useGameStart.tsx
  frontend/src/hooks/useCanvas.tsx
  frontend/src/layout/GameLayout/GameLayout.tsx
  frontend/src/libs/utils/debounce.ts
  frontend/src/libs/utils/sound.ts
  frontend/src/pages/GameLoadingPage/GameLoadingPage.tsx
  frontend/src/pages/GameLoadingPage/index.ts
  frontend/src/pages/GamePage/GamePage.tsx
  frontend/src/pages/GamePage/GameResultModal/GameResultModal.tsx
  frontend/src/pages/GamePage/usePingPongGame.tsx
  frontend/src/pages/GameReadyPage/GameReadyPage.tsx
  frontend/src/pages/LobbyPage/LobbyPage.tsx
  frontend/src/stores/gameState.ts
Labels: enhancement, frontend

#480 :sparkles: [Feature] Add achievement about game-history
  backend/src/achievement/achievement.module.ts
  backend/src/achievement/achievement.service.ts
  backend/src/friend/friend.service.ts
  backend/src/game/game-engine.service.ts
  backend/src/game/game.module.ts
Labels: enhancement, backend

#490 :bug: [BugFix] Fix channel-invited event target
  backend/src/channel/channel.service.ts
  backend/src/user/dto/request/user-nickname-request.dto.ts
  types/user/request/index.ts
  types/user/request/user-nickname-request.interface.ts
  types/user/user-nickname.interface.ts
Labels: bug, backend, refactoring

#443 🐛 [BugFix] login error
  frontend/public/svg/bg.svg
  frontend/src/App.tsx
  frontend/src/AuthChecker.tsx
  frontend/src/AuthHandler.tsx
  frontend/src/assets/styles/GlobalStyle.tsx
  frontend/src/hooks/auth/useAuth.tsx
  frontend/src/libs/api/socket.ts
  frontend/src/pages/RegisterPage/RegisterPage.tsx
  frontend/src/pages/TwoFactorLoginPage/TwoFactorLoginPage.tsx
  frontend/src/pages/TwoFactorLoginPage/index.ts
  frontend/vite.config.ts
Labels: bug

#493 :hammer: [Reactor] Modify image upload and serve path
  backend/public/image/index.html
  backend/public/image/profile-3.png
  backend/src/app.module.ts
  backend/src/user/interceptor/file-upload.interceptor.ts
Labels: backend, refactoring

#492 :sparkles: [Feaure] Update game responsive
  frontend/src/pages/GamePage/GamePage.tsx
Labels: enhancement, frontend

#494 🐛 [BugFix] Two Factor Auth login error
  backend/src/auth/auth.controller.ts
  frontend/src/pages/TwoFactorLoginPage/TwoFactorLoginPage.tsx
  types/auth/response/index.ts
  types/auth/response/token-response.interface.ts
Labels: bug, backend

#497 🔨 [Refactor] Clear jwt-for-2fa cookie
  backend/src/auth/auth.controller.ts
Labels: bug, backend, refactoring

#498 🐛 [Bugfix] Image Error 수정 & Auth error
  frontend/public/svg/bronze.svg
  frontend/public/svg/diamond.svg
  frontend/public/svg/gold.svg
  frontend/public/svg/iron.svg
  frontend/public/svg/platinum.svg
  frontend/public/svg/silver.svg
  frontend/src/App.tsx
  frontend/src/AuthChecker.tsx
  frontend/src/AuthHandler.tsx
  frontend/src/assets/svgs/tmpgold.svg
  frontend/src/common/RankBadge/RankBadge.tsx
  frontend/src/hooks/blocked/useBlocked.tsx
  frontend/src/hooks/friend/useFriend.tsx
  frontend/src/libs/utils/rank.ts
  frontend/src/pages/MessagePage/BlockModal/BlockModal.tsx
  frontend/src/pages/MessagePage/FriendsModal/FriendsModal.tsx
  frontend/src/pages/MessagePage/MessageList/MessageListItem.tsx
  frontend/src/pages/RegisterPage/RegisterPage.tsx
  frontend/src/pages/TwoFactorLoginPage/TwoFactorLoginPage.tsx
  frontend/vite.config.ts
Labels: bug, frontend

#502 :hammer: refactor: Modify image path to img
  backend/public/img/profile-3.png
  backend/src/app.module.ts
  backend/src/user/interceptor/file-upload.interceptor.ts
Labels: backend, refactoring

#503 🐛 [BugFix] Auth error
  frontend/src/App.tsx
  frontend/src/AuthChecker.tsx
  frontend/src/AuthHandler.tsx
  frontend/src/hooks/auth/useAuth.tsx
  frontend/src/pages/RegisterPage/RegisterPage.tsx
Labels: bug, frontend

#505 🐛 [BugFix] Modify UserGuard for not found user
  backend/src/auth/auth.controller.ts
  backend/src/auth/auth.module.ts
  backend/src/auth/guard/skip-logged-in-user.guard.ts
  backend/src/auth/strategy/user.strategy.ts
Labels: bug, backend, refactoring

#506 🐛 [BugFix] Static path error & Socket error
  frontend/src/App.tsx
  frontend/src/ProtectedRoute.tsx
  frontend/src/hooks/auth/useAuth.tsx
  frontend/src/layout/Header/Header.tsx
  frontend/vite.config.ts
Labels: bug, frontend

#508 :bug: [BugFix] Restore user guard
  backend/src/auth/auth.module.ts
  backend/src/auth/strategy/user.strategy.ts
Labels: bug, backend

#510 :bug: [BugFix] Fix cookie secure setting
  backend/src/common/constant.ts
Labels: bug, backend

#512 🐛 [BugFix] Refactor messagePage live api error
  frontend/src/SocketHandler.tsx
  frontend/src/constants/event.ts
  frontend/src/hooks/blocked/useBlocked.tsx
  frontend/src/hooks/friend/useFriend.tsx
  frontend/src/pages/MessagePage/BlockModal/BlockModal.tsx
  frontend/src/pages/MessagePage/FriendsModal/FriendsModal.tsx
  frontend/src/types/query.ts
Labels: bug, frontend

#518 🐛 [BugFix] message avatar error
  frontend/src/common/Text/Text.tsx
  frontend/src/pages/MessagePage/Message/MessageContent.tsx
Labels: bug, frontend

#524 :bug: [BugFix] Add range check to bar
  backend/src/game/game.gateway.ts
Labels: bug, backend

#504 🐛 [BugFix] Dropbox fix
  backend/src/channel/channel.service.ts
  frontend/public/svg/default-profile.svg
  frontend/src/SocketHandler.tsx
  frontend/src/common/Avatar/Avatar.tsx
  frontend/src/hooks/blocked/useBlocked.tsx
  frontend/src/hooks/channel/useChannel.tsx
  frontend/src/hooks/user/useHistroyData.tsx
  frontend/src/libs/utils/itemgenerator.tsx
  frontend/src/pages/GameReadyPage/ChatBox/ChatBox.tsx
  frontend/src/pages/GameReadyPage/GameReadyPage.tsx
  frontend/src/pages/GameReadyPage/ObserverBox/ObserverBox.tsx
  frontend/src/pages/GameReadyPage/Versus/Versus.tsx
  frontend/src/pages/ProfilePage/HistoryBox/HistoryBox.tsx
  frontend/src/pages/ProfilePage/ProfilePage.tsx
  frontend/src/stores/userInfoState.ts
  frontend/vite.config.ts
Labels: bug, frontend

#495 ✨ [Feature] Achievement about friend Connect
  frontend/src/assets/svgs/achievment1.svg
  frontend/src/assets/svgs/achievment2.svg
  frontend/src/assets/svgs/achievment3.svg
  frontend/src/assets/svgs/achievment4.svg
  frontend/src/assets/svgs/achievment5.svg
  frontend/src/assets/svgs/achievment6.svg
  frontend/src/assets/svgs/achievment7.svg
  frontend/src/hooks/user/useProfileData.tsx
  frontend/src/pages/ProfilePage/AchievementBox/AchievementBox.tsx
  frontend/src/pages/ProfilePage/ProfilePage.tsx
Labels: enhancement, frontend

#529 🐛 [BugFix] Player bar
  frontend/src/App.tsx
  frontend/src/DebugObserver.tsx
  frontend/src/hooks/game/useGameStart.tsx
  frontend/src/hooks/useCanvas.tsx
  frontend/src/layout/GameLayout/GameLayout.tsx
  frontend/src/pages/GamePage/GamePage.tsx
  frontend/src/pages/GamePage/GameResultModal/GameResultModal.tsx
  frontend/src/pages/GamePage/usePingPongGame.tsx
  frontend/src/pages/GameReadyPage/GameReadyPage.tsx
  frontend/src/pages/LobbyPage/LobbyPage.tsx
  frontend/src/stores/gameState.ts
  frontend/vite.config.ts
Labels: bug, frontend

#531 :bug: [BugFix] Fix redirect to pre page when invalid 2fa token
  backend/src/auth/auth.controller.ts
  backend/src/auth/guard/two-fa.guard.ts
Labels: bug, backend

#534 🐛[BugFix] Not updating profile page when url move
  frontend/src/pages/ProfilePage/ProfilePage.tsx
Labels: bug, frontend

#537 🐛 [BugFix] Modify channel-invited event dto
  backend/src/auth/auth.controller.ts
  backend/src/auth/guard/two-fa.guard.ts
  backend/src/channel/channel.service.spec.ts
  backend/src/channel/channel.service.ts
  types/user/socket/channel-invited.interface.ts
  types/user/socket/index.ts
Labels: bug, backend, refactoring

#540 ✨ [Feature] Router error page
  frontend/public/svg/error_ghost.svg
  frontend/src/App.tsx
  frontend/src/pages/ErrorFallback/ErrorFallback.tsx
  frontend/src/pages/GameReadyPage/Versus/Versus.tsx
  frontend/src/pages/RouteErrorPage/RouteErrorPage.tsx
  frontend/src/pages/RouteErrorPage/index.ts
Labels: enhancement, frontend

#542 🐛 [BugFix] message error
  frontend/public/svg/sm-ghost.svg
  frontend/src/hooks/message/useNewMessages.tsx
  frontend/src/pages/GameReadyPage/ChatBox/ChatInput.tsx
  frontend/src/pages/MessagePage/Message/Message.tsx
  frontend/src/pages/MessagePage/Message/MessageInput.tsx
  frontend/src/pages/MessagePage/MessageList/MessageList.tsx
  frontend/src/pages/MessagePage/MessageList/MessageListItem.tsx
  frontend/src/pages/MessagePage/MessagePage.tsx
Labels: bug, enhancement, frontend

#545 🐛 [BugFix] game ready reload error
  frontend/src/pages/GamePage/usePingPongGame.tsx
  frontend/src/pages/GameReadyPage/ChatBox/ChatInput.tsx
  frontend/src/pages/GameReadyPage/GameReadyPage.tsx
Labels: bug, frontend

#548 🐛 [BugFix] Mode broadcast
  backend/src/game/game.gateway.ts
  backend/src/game/game.service.ts
  frontend/src/hooks/game/useGameStart.tsx
  frontend/src/pages/GamePage/GamePage.tsx
  frontend/src/pages/GamePage/usePingPongGame.tsx
  frontend/src/pages/GameReadyPage/GameReadyPage.tsx
  frontend/src/stores/gameState.ts
  types/game/socket/game-start.interface.ts
Labels: bug, frontend

#551 :bug: [BugFix] player out error
  frontend/src/SocketHandler.tsx
Labels: bug, frontend
