Repository GhostPangPang/GhostPong, pull requests merged in 2023-04, with the labels that each got.

#25 [Feature] nest.js 초기 설정
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/feature_backend.yaml
  .github/ISSUE_TEMPLATE/feature_frontend.yaml
  .github/ISSUE_TEMPLATE/refactoring_backend.yaml
  .github/ISSUE_TEMPLATE/refactoring_frontend.yaml
  .gitmessage.txt
  backend/.env.example
  backend/.eslintrc.js
  backend/.gitignore
  backend/.prettierrc
  backend/README.md
  backend/nest-cli.json
  backend/package.json
  backend/src/app.controller.spec.ts
  backend/src/app.controller.ts
  backend/src/app.module.ts
  backend/src/app.service.ts
  backend/src/common/README.md
  backend/src/config/app/configuration.module.ts
  backend/src/config/app/configuration.service.ts
  backend/src/config/app/configuration.ts
  backend/src/config/database/configuration.module.ts
  backend/src/config/database/configuration.service.ts
  backend/src/config/database/configuration.ts
  backend/src/entity/README.md
  backend/src/main.ts
  backend/test/app.e2e-spec.ts
  backend/test/jest-e2e.json
  backend/tsconfig.build.json
  backend/tsconfig.json
  backend/yarn.lock
Labels: enhancement, backend

#34 💚 [Chore] gitHub ci
  .github/workflows/chromatic.yml
  .github/workflows/frontend-build.yml
  frontend/.eslintrc.json
  frontend/.yarn/install-state.gz
  frontend/package.json
Labels: enhancement, frontend

#35 💚 [Chore] Dockerize postgreSQL
  backend/package.json
  backend/src/entity/README.md
  backend/src/entity/achievement.entity.ts
  backend/src/entity/auth.entity.ts
  backend/src/entity/blocked-user.entity.ts
  backend/src/entity/friendship.entity.ts
  backend/src/entity/game-history.entity.ts
  backend/src/entity/message-view.entity.ts
  backend/src/entity/message.entity.ts
  backend/src/entity/user-record.entity.ts
  backend/src/entity/user.entity.ts
  database/create-table.sql
  docker-compose.yml
Labels: enhancement, backend

#37 💚 [Chore] Add swagger settings
  backend/nest-cli.json
  backend/package.json
  backend/src/main.ts
  backend/yarn.lock
Labels: enhancement, backend

#39 🐛 [Bug] lint staged error
  .github/workflows/frontend-build.yml
  frontend/.gitignore
  frontend/.husky/pre-commit
  frontend/.pnp.cjs
  frontend/.pnp.loader.mjs
  frontend/.prettierrc
  frontend/.vscode/extensions.json
  frontend/.vscode/settings.json
  frontend/.yarn/sdks/eslint/lib/api.js
  frontend/.yarn/sdks/prettier/index.js
  frontend/.yarn/sdks/typescript/lib/tsc.js
  frontend/.yarn/sdks/typescript/lib/tsserver.js
  frontend/.yarn/sdks/typescript/lib/tsserverlibrary.js
  frontend/.yarn/sdks/typescript/lib/typescript.js
  frontend/README.md
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/layout/Header/Header.tsx
  frontend/tsconfig.json
  frontend/vite.config.ts
Labels: bug, enhancement, frontend

#40 💚 [Chore] eslint setting
  backend/.eslintrc.js
  backend/.husky/pre-commit
  backend/.prettierrc
  backend/package.json
  backend/src/app.controller.spec.ts
  backend/src/app.controller.ts
  backend/src/app.module.ts
  backend/src/config/app/configuration.module.ts
  backend/src/config/database/configuration.module.ts
  backend/src/config/database/configuration.ts
  backend/src/main.ts
  backend/test/app.e2e-spec.ts
  backend/yarn.lock
Labels: enhancement, backend

#41 💚 [Chore] add pre-push rebase
  backend/.husky/pre-push
  frontend/.husky/pre-push
  frontend/.yarn/install-state.gz
Labels: enhancement

#45 🐛 [BugFix] fix entity relations
  backend/src/entity/achievement.entity.ts
  backend/src/entity/auth.entity.ts
  backend/src/entity/blocked-user.entity.ts
  backend/src/entity/friendship.entity.ts
  backend/src/entity/game-history.entity.ts
  backend/src/entity/message-view.entity.ts
  backend/src/entity/message.entity.ts
  backend/src/entity/user-record.entity.ts
  backend/src/entity/user.entity.ts
  database/create-table.sql
Labels: bug, backend

#51 ✨ [Feature] avatar component
  .github/workflows/chromatic.yml
  frontend/.eslintrc.json
  frontend/.pnp.cjs
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/common/Avatar/Avatar.stories.tsx
  frontend/src/components/common/Avatar/Avatar.test.tsx
  frontend/src/components/common/Avatar/Avatar.tsx
  frontend/src/components/common/Avatar/index.ts
  frontend/src/components/error/ErrorFallback/ErrorFallback.tsx
  frontend/src/components/error/ErrorFallback/index.ts
  frontend/yarn.lock
Labels: enhancement, frontend

#55 ✨ [Feature] friend request api
  backend/.eslintrc.js
  backend/package.json
  backend/src/app.module.ts
  backend/src/common/constant.ts
  backend/src/common/dto/error-response.dto.ts
  backend/src/common/dto/sucess-response.dto.ts
  backend/src/entity/auth.entity.ts
  backend/src/entity/friendship.entity.ts
  backend/src/entity/message-view.entity.ts
  backend/src/entity/user.entity.ts
  backend/src/friend/friend.controller.spec.ts
  backend/src/friend/friend.controller.ts
  backend/src/friend/friend.module.ts
  backend/src/friend/friend.service.spec.ts
  backend/src/friend/friend.service.ts
  backend/src/main.ts
  backend/yarn.lock
Labels: enhancement, backend

#66 ✨ [Feature] friend get requests api
  backend/src/common/dto/success-response.dto.ts
  backend/src/friend/dto/requested-friend-response.dto.ts
  backend/src/friend/friend.controller.ts
  backend/src/friend/friend.service.ts
Labels: enhancement, backend

#70 ✨ [Feature] get user-meta-info api
  backend/src/app.module.ts
  backend/src/user/dto/meta-info-response.dto.ts
  backend/src/user/user.controller.spec.ts
  backend/src/user/user.controller.ts
  backend/src/user/user.module.ts
  backend/src/user/user.service.spec.ts
  backend/src/user/user.service.ts
  database/test-data.sql
Labels: enhancement, backend

#76 ✨ [Feature] create nickname API (create new user)
  backend/src/app.module.ts
  backend/src/auth/auth.controller.spec.ts
  backend/src/auth/auth.controller.ts
  backend/src/auth/auth.module.ts
  backend/src/auth/auth.service.spec.ts
  backend/src/auth/auth.service.ts
  backend/src/auth/dto/nickname-request.dto.ts
  backend/src/auth/dto/nickname-response.dto.ts
  backend/src/common/constant.ts
Labels: enhancement, backend

#77 ✨ [Feature] update profile-image API
  backend/src/user/dto/update-image-request.dto.ts
  backend/src/user/dto/user-info-response.dto.ts
  backend/src/user/user.controller.ts
  backend/src/user/user.service.ts
  database/test-data.sql
Labels: enhancement, backend

#85 ✨ [Feature] button component
  frontend/.pnp.cjs
  frontend/package.json
  frontend/public/font/ChailceNoggin.ttf
  frontend/src/App.tsx
  frontend/src/assets/styles/GlobalStyle.tsx
  frontend/src/assets/styles/theme.ts
  frontend/src/assets/styles/types.ts
  frontend/src/components/common/Box/Box.tsx
  frontend/src/components/common/Button/Button.stories.tsx
  frontend/src/components/common/Button/Button.test.tsx
  frontend/src/components/common/Button/Button.tsx
  frontend/src/components/common/Button/index.ts
  frontend/src/components/common/GComponent/GComponent.tsx
  frontend/src/components/common/GComponent/GSystemStyle.ts
  frontend/src/components/common/GComponent/index.ts
  frontend/tsconfig.json
  frontend/vite.config.ts
  frontend/yarn.lock
Labels: enhancement, frontend

#81 ✨ [Feature] friend request process api
  backend/src/friend/friend.controller.spec.ts
  backend/src/friend/friend.controller.ts
  backend/src/friend/friend.service.spec.ts
  backend/src/friend/friend.service.ts
Labels: enhancement, backend

#92 ✨ [Feature] box component
  frontend/src/components/common/Box/Box.stories.ts
  frontend/src/components/common/Box/Box.test.tsx
  frontend/src/components/common/Box/Box.tsx
  frontend/src/components/common/GComponent/GComponent.tsx
  frontend/src/types/utils.ts
Labels: enhancement, frontend

#96 ✨ [Feature] database seeding
  backend/.env.example
  backend/.gitignore
  backend/package.json
  backend/seeding/data-source.ts
  backend/seeding/factory/auth.factory.ts
  backend/seeding/factory/frieindship.factory.ts
  backend/seeding/factory/message.factory.ts
  backend/seeding/factory/user.factory.ts
  backend/seeding/reset-db.sh
  backend/seeding/seeder/message.seeder.ts
  backend/src/common/README.md
  backend/yarn.lock
Labels: enhancement, backend

#93 :sparkles: [Feature] block-user API
  backend/src/app.module.ts
  backend/src/blocked/blocked.controller.spec.ts
  backend/src/blocked/blocked.controller.ts
  backend/src/blocked/blocked.module.ts
  backend/src/blocked/blocked.service.spec.ts
  backend/src/blocked/blocked.service.ts
  backend/src/common/constant.ts
  backend/src/user/user.service.ts
Labels: enhancement, backend

#97 ✨ [Feature] get friend list API
  backend/src/entity/friendship.entity.ts
  backend/src/entity/message-view.entity.ts
  backend/src/friend/dto/friend-response.dto.ts
  backend/src/friend/dto/requested-friend-response.dto.ts
  backend/src/friend/friend.controller.ts
  backend/src/friend/friend.module.ts
  backend/src/friend/friend.service.ts
Labels: enhancement, backend

#103 ✨ [Feature] delete friend api
  backend/seeding/data-source.ts
  backend/seeding/seeder/message.seeder.ts
  backend/src/entity/message-view.entity.ts
  backend/src/entity/message.entity.ts
  backend/src/friend/friend.controller.ts
  backend/src/friend/friend.module.ts
  backend/src/friend/friend.service.ts
  backend/src/user/user.module.ts
Labels: enhancement, backend

#95 :sparkles: [Feature] change nickname API
  backend/src/auth/auth.controller.ts
  backend/src/auth/auth.module.ts
  backend/src/auth/auth.service.ts
  backend/src/user/dto/nickname-request.dto.ts
  backend/src/user/dto/nickname-response.dto.ts
  backend/src/user/user.controller.ts
  backend/src/user/user.module.ts
  backend/src/user/user.service.ts
Labels: enhancement, backend

#100 🔨 [Refactor] avatar component
  frontend/src/components/common/Avatar/Avatar.stories.tsx
  frontend/src/components/common/Avatar/Avatar.tsx
Labels: frontend, refactoring

#111 :bug: [Fix] Delete pre-push hook
  backend/.husky/pre-push
  frontend/.husky/pre-push
Labels: refactoring

#112 ✨ [Feature] refactor front directory
  frontend/src/App.tsx
  frontend/src/common/Avatar/Avatar.stories.tsx
  frontend/src/common/Avatar/Avatar.test.tsx
  frontend/src/common/Avatar/Avatar.tsx
  frontend/src/common/Avatar/index.ts
  frontend/src/common/Box/Box.stories.ts
  frontend/src/common/Box/Box.test.tsx
  frontend/src/common/Box/Box.tsx
  frontend/src/common/Box/index.ts
  frontend/src/common/Button/Button.stories.tsx
  frontend/src/common/Button/Button.test.tsx
  frontend/src/common/Button/Button.tsx
  frontend/src/common/Button/index.ts
  frontend/src/components/layout/Content/Content.tsx
  frontend/src/components/layout/Header/Header.tsx
  frontend/src/error/ErrorFallback/ErrorFallback.tsx
  frontend/src/error/ErrorFallback/index.ts
  frontend/src/layout/Content/Content.tsx
  frontend/src/layout/Content/index.ts
  frontend/src/layout/Grid/Grid.stories.tsx
  frontend/src/layout/Grid/Grid.tsx
  frontend/src/layout/Grid/index.ts
  frontend/src/layout/Header/Header.stories.tsx
  frontend/src/layout/Header/Header.test.tsx
  frontend/src/layout/Header/Header.tsx
  frontend/src/layout/Header/index.ts
  frontend/src/types/style.ts
  frontend/tsconfig.json
  frontend/vite.config.ts
Labels: enhancement, frontend, refactoring

#108 ✨ [Feature] delete block user API
  backend/src/auth/auth.module.ts
  backend/src/blocked/blocked.controller.ts
  backend/src/blocked/blocked.module.ts
  backend/src/blocked/blocked.service.ts
  backend/src/user/dto/nickname-request.dto.ts
  backend/src/user/user.module.ts
  backend/src/user/user.service.ts
Labels: enhancement, backend

#115 ✨ [Feature] dropbox component implementation
  frontend/.pnp.cjs
  frontend/.yarn/cache/resize-observer-polyfill-npm-1.5.1-603120e8a0-57e7f79489.zip
  frontend/package.json
  frontend/src/assets/styles/GlobalStyle.tsx
  frontend/src/common/Dropbox/Dropbox.stories.tsx
  frontend/src/common/Dropbox/Dropbox.test.tsx
  frontend/src/common/Dropbox/Dropbox.tsx
  frontend/src/common/Dropbox/index.ts
  frontend/yarn.lock
Labels: enhancement, frontend

#113 ✨ [Feature] get messages API
  backend/seeding/factory/message.factory.ts
  backend/src/app.module.ts
  backend/src/common/constant.ts
  backend/src/entity/message.entity.ts
  backend/src/friend/friend.module.ts
  backend/src/message/dto/message-response.dto.ts
  backend/src/message/message.controller.spec.ts
  backend/src/message/message.controller.ts
  backend/src/message/message.module.ts
  backend/src/message/message.service.spec.ts
  backend/src/message/message.service.ts
Labels: enhancement, backend

#117 :sparkles: [Feature] get blocked list API
  backend/src/blocked/blocked.controller.ts
  backend/src/blocked/blocked.service.ts
  backend/src/blocked/dto/blocked-user-response.dto.ts
  backend/src/entity/blocked-user.entity.ts
Labels: enhancement, backend

#124 :sparkles: [Feature] text 컴포넌트
  frontend/src/common/Text/Text.stories.tsx
  frontend/src/common/Text/Text.test.tsx
  frontend/src/common/Text/Text.tsx
  frontend/src/common/Text/index.ts
Labels: enhancement, frontend

#122 ✨ [Feature] image upload api & serve static
  backend/package.json
  backend/public/asset/profile-3.png
  backend/src/app.module.ts
  backend/src/common/constant.ts
  backend/src/entity/user.entity.ts
  backend/src/user/interceptor/file-upload.interceptor.ts
  backend/src/user/user.controller.ts
  backend/src/user/user.service.ts
  backend/yarn.lock
Labels: enhancement, backend

#116 ✨ [Feature] loby page
  frontend/.pnp.cjs
  frontend/.yarn/cache/@remix-run-router-npm-1.5.0-34ae8a468b-9c510c174a.zip
  frontend/.yarn/cache/@rive-app-canvas-npm-1.1.3-e1409e0cce-cb5b1ce160.zip
  frontend/.yarn/cache/@rive-app-canvas-npm-1.1.4-59a9179e21-71af08ccea.zip
  frontend/.yarn/cache/@rive-app-react-canvas-npm-3.0.43-56f1571809-d5198199e7.zip
  frontend/.yarn/cache/react-router-dom-npm-6.10.0-c8bb29573e-d048d8cc66.zip
  frontend/.yarn/cache/react-router-npm-6.10.0-a4f053634d-c9fce46147.zip
  frontend/package.json
  frontend/public/riv/ghost.riv
  frontend/src/App.tsx
  frontend/src/assets/styles/GlobalStyle.tsx
  frontend/src/assets/styles/theme.ts
  frontend/src/assets/svgs/bg.svg
  frontend/src/assets/svgs/default-profile.svg
  frontend/src/assets/svgs/logo-lg.svg
  frontend/src/common/Avatar/Avatar.tsx
  frontend/src/common/Button/Button.tsx
  frontend/src/common/Dropbox/Dropbox.tsx
  frontend/src/common/Ghost/Ghost.tsx
  frontend/src/common/Ghost/index.ts
  frontend/src/common/ProgressBar/ProgressBar.tsx
  frontend/src/common/RankProgressBar/RankProgressBar.tsx
  frontend/src/layout/Content/Content.tsx
  frontend/src/layout/Grid/Grid.tsx
  frontend/src/layout/Header/Header.stories.tsx
  frontend/src/layout/Header/Header.test.tsx
  frontend/src/layout/Header/Header.tsx
  frontend/src/layout/MainLayout/MainLayout.tsx
  frontend/src/layout/MainLayout/index.ts
  frontend/src/main.tsx
  frontend/src/pages/LobbyPage/LobbyPage.tsx
  frontend/src/pages/LobbyPage/index.ts
  frontend/src/pages/PrePage/PrePage.tsx
  frontend/src/pages/PrePage/index.ts
  frontend/src/types/style.ts
  frontend/tsconfig.json
  frontend/vite.config.ts
  frontend/yarn.lock
Labels: enhancement, frontend

#131 ✨ [Feature] avatar, dropbox 수정
  frontend/src/common/Avatar/Avatar.tsx
  frontend/src/common/Dropbox/Dropbox.tsx
  frontend/src/layout/Header/Header.tsx
Labels: frontend, refactoring

#132 ✨ [Feature] get user profile api
  backend/seeding/factory/game-history.factory.ts
  backend/seeding/factory/user.factory.ts
  backend/seeding/seeder/message.seeder.ts
  backend/src/auth/dto/nickname-request.dto.ts
  backend/src/auth/dto/nickname-response.dto.ts
  backend/src/blocked/blocked.module.ts
  backend/src/blocked/blocked.service.ts
  backend/src/entity/achievement.entity.ts
  backend/src/entity/blocked-user.entity.ts
  backend/src/entity/user-record.entity.ts
  backend/src/entity/user.entity.ts
  backend/src/user/dto/update-image-request.dto.ts
  backend/src/user/dto/user-info-response.dto.ts
  backend/src/user/dto/user-nickname-request.dto.ts
  backend/src/user/dto/user-nickname-response.dto.ts
  backend/src/user/dto/user-profile-response.dto.ts
  backend/src/user/user.controller.ts
  backend/src/user/user.module.ts
  backend/src/user/user.service.ts
Labels: enhancement, backend

#137 🐛 [BugFix] Fix seeding for all host and port
  backend/seeding/data-source.ts
  backend/seeding/reset-db.sh
Labels: bug, backend

#141 ✨ [Feature] enhancing friend and blocked API
  backend/src/auth/auth.service.ts
  backend/src/blocked/blocked.controller.ts
  backend/src/blocked/blocked.module.ts
  backend/src/blocked/blocked.service.ts
  backend/src/entity/friendship.entity.ts
  backend/src/friend/dto/friend-response.dto.ts
  backend/src/friend/friend.controller.ts
  backend/src/friend/friend.module.ts
  backend/src/friend/friend.service.ts
  backend/src/user/user.service.ts
Labels: enhancement, backend

#146 ✨ [Feature] get user history API
  backend/src/common/constant.ts
  backend/src/user/dto/user-history-response.dto.ts
  backend/src/user/user.controller.ts
  backend/src/user/user.module.ts
  backend/src/user/user.service.ts
Labels: enhancement, backend

#136 🔨 [Refactor] badge component theme color
  frontend/src/assets/styles/theme.ts
  frontend/src/common/Badge/Badge.stories.tsx
  frontend/src/common/Badge/Badge.tsx
Labels: frontend, refactoring

#145 🔨 [Refactor] Add border option
  frontend/src/assets/styles/theme.ts
  frontend/src/common/Avatar/Avatar.tsx
  frontend/src/common/ProgressBar/ProgressBar.tsx
Labels: frontend, refactoring

#148 ✨ [Feature] Add sharing types
  backend/.eslintrc.js
  backend/nest-cli.json
  backend/package.json
  backend/src/blocked/blocked.controller.ts
  backend/src/blocked/blocked.service.ts
  backend/src/blocked/dto/blocked-user-response.dto.ts
  backend/src/blocked/dto/response/blocked-user-response.dto.ts
  backend/src/friend/dto/requested-friend-response.dto.ts
  backend/src/friend/dto/response/friend-response.dto.ts
  backend/src/friend/dto/response/requested-friend-response.dto.ts
  backend/src/friend/friend.controller.ts
  backend/src/friend/friend.service.ts
  backend/src/message/dto/response/message-response.dto.ts
  backend/src/message/message.controller.ts
  backend/src/message/message.service.ts
  backend/src/user/dto/request/user-image-request.dto.ts
  backend/src/user/dto/request/user-nickname-request.dto.ts
  backend/src/user/dto/response/user-history-response.dto.ts
  backend/src/user/dto/response/user-info-response.dto.ts
  backend/src/user/dto/response/user-nickname-response.dto.ts
  backend/src/user/dto/response/user-profile-response.dto.ts
  backend/src/user/dto/user-info-response.dto.ts
  backend/src/user/dto/user-info.dto.ts
  backend/src/user/user.controller.ts
  backend/src/user/user.service.ts
  backend/tsconfig.build.json
  backend/tsconfig.json
  backend/yarn.lock
  types/blocked/response/blocked-user-response.interface.ts
  types/blocked/response/index.ts
  types/friend/response/friend-response.interface.ts
  types/friend/response/index.ts
  types/friend/response/requested-friend-response.interface.ts
  types/message/response/index.ts
  types/message/response/message-response.interface.ts
  types/user/index.ts
  types/user/request/index.ts
  types/user/request/user-image-request.interface.ts
  types/user/request/user-nickname-request.interface.ts
  types/user/response/index.ts
  types/user/response/user-history-response.interface.ts
  types/user/response/user-info-response.interface.ts
  types/user/response/user-nickname-response.interface.ts
  types/user/response/user-profile-response.interface.ts
  types/user/user-info.interface.ts
Labels: enhancement, frontend, backend

#154 :bug: [BugFix] Fix eslint plugin import groups
  backend/.eslintrc.js
  backend/src/blocked/blocked.controller.ts
  backend/src/blocked/blocked.service.ts
  backend/src/blocked/dto/response/blocked-user-response.dto.ts
  backend/src/friend/friend.controller.ts
  backend/src/friend/friend.service.ts
  backend/src/message/message.controller.ts
  backend/src/message/message.service.ts
  backend/src/user/dto/request/user-image-request.dto.ts
  backend/src/user/dto/request/user-nickname-request.dto.ts
  backend/src/user/user.controller.ts
  backend/src/user/user.service.ts
Labels: bug, backend
